/* Global Styles */
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

body {
    display: flex;
    height: 100vh;
}

/* Side Bar */
aside {
    color: white;
    background-color: #073b4c;
    padding: 5px;
    width: 20%;
    height: 100%;
}

hr {
    opacity: 0.3;
    margin: 10px 0;
}

nav {
    display: flex;
    flex-direction: column;   
    gap: 10px; 
}

a {
    color: rgba(255, 255, 255, 0.9);
}

/* Main */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section > h2 {
    margin-bottom: 15px;
}